.title{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}

hr{
    size: 5;
    width: 90%;
    color: red;
}

.container {
    width: 100%;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
}

.pure-g {
    margin-bottom: 25px;
}


.page {
    background-color: #F9EDCC;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.description-right {
    padding-left: 20px;
    margin-top: 0px;
}

.description-left {
    padding-right: 20px;
    margin-top: 0px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  
  #volcanic-number-peryear{
      align-self: center;
  }

