h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 60px;
}

.container {
    width: 100%;
}

p{
    font-family: 'Oswald', sans-serif;
}

.fullmap{
    width: 83.33%;
}

.VEI{
    width: 16.66%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .half{
      width: 50%;
  }