h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 60px;
}

.container {
    width: 100%;
}

p{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.pure-g {
    margin-bottom: 25px;
}


  .page {
    width: 1080px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
